name: kaia-websites-api build image workflow for PROD env
on:
  push:
    branches: ["main"]

env:
  PROJECT_ID: "kaia-cluster-prod"
  SERVICE_ACCOUNT: "kaia-websites-api-prod@kaia-cluster-prod.iam.gserviceaccount.com"
  WORKLOAD_IDENTITY_PROVIDER: "projects/380808041996/locations/global/workloadIdentityPools/kaia-cluster-prod/providers/kaia-websites-api-gha-prvdr"
  AR_REPO_LOCATION: "asia-northeast3"
  AR_URL: "asia-northeast3-docker.pkg.dev/kaia-cluster-prod/kaia-websites-api"

jobs:
  push_to_ar:
    permissions:
      contents: 'read'
      id-token: 'write'
    environment:
      name: ${{ github.ref_name }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          project_id: ${{ env.PROJECT_ID }}
          service_account: ${{ env.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}

      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v1'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.AR_REPO_LOCATION }}-docker.pkg.dev'

      - name: Build and Push Container to ${{ env.PROJECT_ID }}
        run: |
          IMAGE_URL="${{ env.AR_URL }}/kaia-websites-api"
          IMAGE_TAG=$(git rev-parse --short HEAD)

          docker build -t $IMAGE_URL:$IMAGE_TAG .
          docker tag $IMAGE_URL:$IMAGE_TAG $IMAGE_URL:latest

          echo "Pushing all tags to ${IMAGE_URL}"
          docker push --all-tags "${IMAGE_URL}"
